.loading {
  position: relative;
  z-index: 999;
  height: 20px;
  width: 20px;
  overflow: visible;
  margin: auto;
  top: 250px;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

.loading:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}


@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.error__title {
    text-align: center;
    font-size: 30px;
}

.block__food {
    width: 400px;
    margin: auto;
    height: 550px;
    display: block;
    margin-top: 60px;
    padding: 10px 10px;
    transition: ease-out 0.3s;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.562);
}

.block__food:hover {
  padding: 15px 10px;
  border-radius: 25px;
  box-shadow: 15px 10px 15px 10px rgba(0, 0, 0, 0.473);
}

.image_food {
  top: 25px;
  margin: auto;
  width: 250px;
  height: 250px;
  display: block;
  border-radius: 30px;
}

.title_food {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.about_food {
  margin: auto;
  width: 350px;
  height: 120px;
  text-align: justify;
  border-radius: 25px;
  transition: ease-in-out 0.1s;
  background-color: #43f3b8;
}

.about {
  margin: auto;
  width: 300px;
  display: block;
  font-size: 20px;
  font-weight: 600;
  transition: ease-out 0.1s;
}

.about_food, .about:hover{
  height: 140px;
  font-size: 22px;
  font-weight: 900;
  padding: 5px 15px;
}

.bth_price {
  width: 140px;
  height: 40px;
  margin: auto;
  color: white;
  display: block;
  margin-top: 5px;
  font-size: 20px;
  border: 2px solid;
  border-radius: 5px;
  transition: ease-out 0.3s;
  background-color: black;
}

.bth_price:hover {
  border-radius: 10px;
  background-color: yellowgreen;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.473);
}