.wallpaper {
    width: 90%;
    margin: auto;
    margin-top: 25px;
    min-height: 800px;
    height: 1600px;
    border-radius: 25px;
    background-color: white;
}

.filter__panel {
    top: 25px;
    width: 70%;
    margin: auto;
    height: 100px;
    filter: blur(0.2%);
    position: relative;
    border-radius: 35px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.582);
}