.main__content {
    width: 70%;
    height: 300%;
    margin: auto;
    margin-top: 50px;
    border-radius: 25px;
    background-color: white;
}

.profile__content {
    display: flex;
    justify-content: center;
}

.profile__img {
    margin: auto;
    width: 200px;
    height: 200px;
    display: block;
    margin-top: 20px;
    border-radius: 360px;
    border: 2px solid black;
}

.user__content {
    height: 20px;
    width: 150px;
    display: flex;
    margin-top: 190px;
    justify-content: center;
}

.user__name {
    font-size: 30px;
    text-align: center;
}

.user__menu {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
    justify-content: space-between;
}